.whisper-stt-osd-window {
    margin-bottom: 4em;
}

.whisper-stt-level {
    min-width: 220px;
    -barlevel-background-color: rgba(255, 255, 255, 0.1);
    -barlevel-active-background-color: #ffffff;
    -barlevel-overdrive-color: #ffffff;
    -barlevel-overdrive-separator-width: 0;
}
